##
# Supervise
##
SV_MCP_NAME=supervise
SV_MCP_HOST=localhost
SV_MCP_PORT=1234
SV_MCP_JWK=http://localhost:54321/auth/v1/.well-known/jwks.json
SV_MCP_JWK_ISS=http://127.0.0.1:54321/auth/v1
SV_MCP_JWK_AUD=authenticated
SV_MCP_JWT_ALLOW_ANON=false
SV_MCP_CORS=localhost
SV_MCP_STORAGE=:memory:
